body{
    background-color: #f2f2f2;
    font-family: Arial;
    text-align: center;
}

h1{
    color: darkblue;
}

h2{
    color: darkgreen;
}

p{
    width: 70%;
    margin: auto;
}

a{
    text-decoration: none;
    color: blue;
    margin: 10px;
}

a:hover{
    color: red;
}

img{
    margin-top: 20px;
    border-radius: 10px;
}

ul{
    display: inline-block;
    text-align: left;
}